.mainContent {
    position: relative;
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: "sideBar productsContainer";

    @media (max-width: 700px) {
        .productsContainer {
            margin-left: 0px;
        }
    }

    .sideBar {
        grid-area: sideBar;
    }

    .productsContainer {
        margin-left: 150px;
        grid-area: productsContainer;
        display: flex;
        justify-content: center ;
    }
}